
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="homeIntro">
        <div class="container-fluid">
            <div class="row">
                <div class="owl-carousel owl-theme myCarousel">
                    <div class="myCarousel">
                        <img src="~/assets/img/slide-1.jpg" alt="">
                        <div class="col-lg-6 slideContent animate__fadeInUp">
                            <!-- <div class=""> -->
                            <h1>Hello</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil explicabo
                                dolores nostrum cum dolorum voluptatem distinctio porro in, placeat dignissimos
                                minima error quas eveniet. Accusantium omnis aut modi eius?
                            </p>
                            <button class="btn btn-primary">Check</button>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="myCarousel">
                        <img src="~/assets/img/slide-2.jpg" alt="">
                        <div class="col-lg-6 slideContent">
                            <!-- <div class=""> -->
                            <h1>Hello</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil explicabo
                                dolores nostrum cum dolorum voluptatem distinctio porro in, placeat dignissimos
                                minima error quas eveniet. Accusantium omnis aut modi eius?
                            </p>
                            <button class="btn btn-primary">Check</button>
                        </div>
                    </div>
                    <div class="myCarousel">
                        <img src="~/assets/img/slide-3.jpg" alt="">
                        <div class="col-lg-6 slideContent">
                            <!-- <div class=""> -->
                            <h1>Hello</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil explicabo
                                dolores nostrum cum dolorum voluptatem distinctio porro in, placeat dignissimos
                                minima error quas eveniet. Accusantium omnis aut modi eius?
                            </p>
                            <button class="btn btn-primary">Check</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="card" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                    <div class="card">
                        <img src="~/assets/img/team-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Name Surname</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                    <div class="card">
                        <img src="~/assets/img/team-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Name Surname</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                    <div class="card">
                        <img src="~/assets/img/team-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Name Surname</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                    <div class="card">
                        <img src="~/assets/img/team-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Name Surname</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

