@model IEnumerable<Card>
@{
    ViewData["Title"] = "Index";
}
<main>
    <section id="homeIntro">
        <div class="container-fluid">
            <div class="row">
                <div class="owl-carousel owl-theme myCarousel">
                    <div class="myCarousel">
                        <img src="~/assets/img/slide-1.jpg" alt="">
                        <div class="col-lg-6 slideContent animate__fadeInUp">
                            <!-- <div class=""> -->
                            <h1>Hello</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil explicabo
                                dolores nostrum cum dolorum voluptatem distinctio porro in, placeat dignissimos
                                minima error quas eveniet. Accusantium omnis aut modi eius?
                            </p>
                            <button class="btn btn-primary">Check</button>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="myCarousel">
                        <img src="~/assets/img/slide-2.jpg" alt="">
                        <div class="col-lg-6 slideContent">
                            <!-- <div class=""> -->
                            <h1>Hello</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil explicabo
                                dolores nostrum cum dolorum voluptatem distinctio porro in, placeat dignissimos
                                minima error quas eveniet. Accusantium omnis aut modi eius?
                            </p>
                            <button class="btn btn-primary">Check</button>
                        </div>
                    </div>
                    <div class="myCarousel">
                        <img src="~/assets/img/slide-3.jpg" alt="">
                        <div class="col-lg-6 slideContent">
                            <!-- <div class=""> -->
                            <h1>Hello</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nihil explicabo
                                dolores nostrum cum dolorum voluptatem distinctio porro in, placeat dignissimos
                                minima error quas eveniet. Accusantium omnis aut modi eius?
                            </p>
                            <button class="btn btn-primary">Check</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="card" class="mt-5">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 my-4">
                        <div class="card">
                            <img src="~/assets/img/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Content</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>

